<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Folders</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            margin-top: 0;
            margin-bottom: 30px;
            margin-left: 30%;
            margin-right: 30%;
            padding: 0;
        }

        .containers {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .folder-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .folder-item {
            background-color: #f9f9f9;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .folder-item:hover {
            background-color: #e6e6e6;
        }

        .folder-link {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        .folder-link:hover {
            color: #007bff;
            text-decoration: underline;
        }
        .testing {
        text-align: center;
        margin-bottom: 20px;
        color: #fff; /* White text color */
        justify-content: center;
        align-items: center;
      }
    </style>
</head>
<link
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
rel="stylesheet"
/>
            
            <body style="background-color: #232f3e;">
   
<!-- Bootstrap Modal -->
<div
class="modal fade"
id="uploadModal"
tabindex="-1"
role="dialog"
aria-labelledby="uploadModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- Upload form -->
      <input
        type="text"
        id="folderName"
        placeholder="Enter folder name"
        class="form-control mb-2"
      />
      <input
        type="file"
        id="fileInput"
        accept="image/*"
        class="form-control-file mb-2"
      />
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-primary"
        id="uploadButtonModal"
        onclick="uploadbtn()"
      >
        Upload File
      </button>
    </div>
  </div>
</div>
</div>  
    <div class="containers">
        <h1>List of Folders</h1> <div class="testing">
            <button
              type="button"
              class="btn btn-primary mb-2"
              data-toggle="modal"
              data-target="#uploadModal"
            >
              Upload Image
            </button>
          </div>
        <ul class="folder-list">
            <% folders.forEach(folder => { %>
                <li class="folder-item">
                    <a href="/files?folder=<%= folder %>" class="folder-link"><%= folder %></a>
                </li>
            <% }); %>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<script>
    function uploadbtn() {
      var input = document.getElementById("fileInput").files[0];
      var folderName = document.getElementById("folderName").value;
      if (!folderName.trim()) {
        alert("Please enter a folder name");
        return;
      }
      if (input) {
        uploadFile(input, folderName);
      }
    }

    function uploadFile(file, folderName) {
      var formData = new FormData();
      formData.append("file", file);
      formData.append("folderName", folderName);

      fetch("/upload", {
        method: "POST",
        body: formData,
      })
        .then((response) => {
          if (response.ok) {
            console.log("File uploaded successfully");
            location.reload();
          } else {
            console.error("Error uploading file");
          }
        })
        .catch((error) => {
          console.error("Error uploading file:", error);
        });
    }

    document.querySelectorAll(".removeButton").forEach(function (button) {
      button.addEventListener("click", function () {
        var key = this.getAttribute("data-key");
        if (confirm("Are you sure you want to remove this file?")) {
          removeFile(key);
        }
      });
    });

    function removeFile(key) {
      fetch("/remove", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ key: key }),
      })
        .then((response) => {
          if (response.ok) {
            console.log("File removed successfully");
            location.reload();
          } else {
            console.error("Error removing file");
          }
        })
        .catch((error) => {
          console.error("Error removing file:", error);
        });
    }
  </script>
</html>
